<nav>
    <ul>
        <li>
            <a href="/users/create">Sign up</a>
        </li>
        <li>
            <a href="/users/login">Login</a>
        </li>
        <li>
            <a href="/users/logout">Logout</a>
        </li>
    </ul>
</nav>
