<nav>
    <ul>
        <li>
            <% if (loggedIn) { %>
            <a class="btn" href="/users/logout">Logout</a>
            <% } else { %>

            <a class="btn" href="/users/create">Sign up</a>
            <a class="btn" href="/users/login">Login</a>

            <% } %>
        </li>
    </ul>
</nav>
