<nav>
    <ul>
        <li>
            <% if (loggedIn) { %>
            <a class="btn" href="/users/logout">Logout</a>
            <% if (admin) { %>
            <a class="btn" href="/users/orders">All Orders</a>
            <% } else { %>
            <a class="btn" href="/users/cart">View Cart</a>
            <% } %> <% } else { %>
            <a class="btn" href="/users/login">Login</a>
            <a class="btn" href="/users/create">Sign up</a>
            <% } %>
        </li>
    </ul>
</nav>
