<nav>
    <ul>
        <li>
            <a href="/users/new">Sign up</a>
        </li>
        <li>
            <a href="/users/signin">Login</a>
        </li>
        <li>
            <a href="/users/signout">Logout</a>
        </li>
    </ul>
</nav>
