<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %>
        <title>Login to Store</title>
    </head>
    <body>
        <%- include('./partials/nav.ejs') %>
        <header><%- include('./partials/header.ejs') %></header>
        <main class="home">
            <h2>Welcome!</h2>
            <a class="home__enter" href="/products">ENTER</a>
        </main>
    </body>
</html>
