<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %>
        <title>Login to Store</title>
    </head>
    <body>
        <header class="home__header">
            <%- include('./partials/header.ejs') %>
        </header>
        <main>
            <h2>Login or create an account to enter the store</h2>
            <%- include('./partials/account.ejs') %>
        </main>
    </body>
</html>
