<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %>
        <title>Login to Store</title>
    </head>
    <body>
        <header class="home__header">
            <%- include('./partials/header.ejs') %>
        </header>
        <main>
            <h2>Login or create an account to enter the store</h2>
            <nav>
                <ul>
                    <li>
                        <a href="/users/create">Sign up</a>
                    </li>
                    <li>
                        <a href="/users/login">Login</a>
                    </li>
                    <li>
                        <a href="/users/logout">Logout</a>
                    </li>
                </ul>
            </nav>
        </main>
    </body>
</html>
