:root {
  --color-primary: rgb(105, 0, 128);
  --color-secondary: #0df2c9;
  --color-background: #b1f1ea;
  --color-pageTitle: #7135fd;
  --color-imgBackground: lemonchiffon;
}

body {
  background-color: var(--color-background);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  color: var(--color-primary);
  text-align: center;
}

h2 {
  color: var(--color-pageTitle);
  text-align: center;
}

.product-index {
  width: 100vw;
  height: 80vh;
}

.product-index h2 {
  margin-bottom: 10px;
}

.product-index__flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

.product-index__item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-imgBackground);
  border-radius: 1em;
}

.product-index img {
  width: 200px;
  height: 200px;
  padding-left: 10px;
  padding-right: 10px;
}

.product-show {
  width: 100vw;
  height: 80vh;
}

.product-show h2 {
  margin-bottom: 10px;
}

.product-show__flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

.product-show__item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-imgBackground);
  border-radius: 1em;
  padding-top: 10px;
  padding-bottom: 10px;
}

.product-show img {
  width: 400px;
  height: 400px;
  padding-left: 10px;
  padding-right: 10px;
}

.product-edit,
.product-new {
  width: 100vw;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}

.product-edit h2,
.product-new h2 {
  margin-bottom: 10px;
}

.product-edit__flex-container,
.product-new__flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
}

.product-edit li,
.product-new li {
  padding: 1em;
}

.product-edit input,
.product-new input {
  border: none;
}
/*# sourceMappingURL=style.css.map */