:root {
  --color-primary: rgb(105, 0, 128);
  --color-secondary: #0df2c9;
  --color-background: #b1f1ea;
  --color-pageTitle: #3900bd;
  --color-imgBackground: lemonchiffon;
}

body {
  background-color: var(--color-background);
}

main {
  width: 100vw;
  margin-bottom: 10px;
  font-family: 'Courier New', Courier, monospace;
}

.btn {
  font-family: 'Special Elite', cursive;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem 'Roboto Slab', sans-serif;
  padding-top: 0.4em;
  padding-bottom: 0.3em;
  padding-left: 1em;
  padding-right: 1em;
  letter-spacing: 0.05rem;
}

.btn:focus {
  outline: 2px dotted #55d7dc;
}

label {
  font-family: 'Grandstander', cursive;
}

input {
  font-family: 'Grandstander', cursive;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  color: var(--color-primary);
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  padding-top: 10px;
}

h2 {
  color: var(--color-pageTitle);
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-top: 15px;
}

nav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 40vh;
  width: 100vw;
}

.home .home__enter {
  font-size: 4em;
  color: #e9c600;
  font-family: 'Permanent Marker', cursive;
  text-decoration: none;
  text-align: center;
}

.users-create,
.users-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}

.users-create h2,
.users-login h2 {
  margin-bottom: 10px;
}

.users-create__flex-container,
.users-login__flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
}

.users-create li,
.users-login li {
  padding: 0.8em;
}

.users-create .user-create__admin-list,
.users-login .user-create__admin-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: visible;
  padding-bottom: 30px;
}

.users-create .user-create__admin-list input,
.users-login .user-create__admin-list input {
  text-align: center;
  margin-top: 10px;
}

.users-create input,
.users-login input {
  border: none;
  border-radius: 3px;
}

#login-button {
  margin-top: 50px;
}

#admin-aside {
  font-family: 'Tangerine', cursive;
  font-size: 1.2em;
}

#add-new,
#return-all {
  text-align: center;
  padding-bottom: 15px;
  text-decoration: none;
  font-size: 1.6em;
  font-family: 'Tangerine', cursive;
  color: black;
}

#add-new :hover,
#return-all :hover {
  background-color: lemonchiffon;
  border-radius: 5px;
}

#add-new :visited,
#return-all :visited {
  color: red;
}

#add-new :active,
#return-all :active {
  color: green;
}

#add-new a,
#return-all a {
  padding: 4px;
}

.product-index {
  position: relative;
}

.product-index h2 {
  margin-bottom: 10px;
}

.product-index__closed-container {
  background-image: url("https://s3.eu-west-1.amazonaws.com/presspage-production-content/uploads/2170/sorry_we_re_closed.jpg");
  width: 40%;
  height: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.product-index__flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

.product-index__item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-imgBackground);
  border-radius: 1em;
}

.product-index img {
  width: 200px;
  height: 200px;
}

.product-show {
  text-align: center;
}

.product-show h2 {
  margin-bottom: 10px;
}

.product-show__flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

.product-show__item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-imgBackground);
  border-radius: 1em;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 320px;
  padding-left: 5px;
  padding-right: 5px;
}

.product-show img {
  width: 300px;
  height: 300px;
}

.product-edit,
.product-new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}

.product-edit h2,
.product-new h2 {
  margin-bottom: 10px;
}

.product-edit__flex-container,
.product-new__flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
}

.product-edit li,
.product-new li {
  padding: 1em;
}

.product-edit input,
.product-new input {
  border: none;
  border-radius: 3px;
}

.users-cart,
.users-orders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}

.users-cart h2,
.users-orders h2 {
  margin-bottom: 10px;
}

.users-cart h4,
.users-orders h4 {
  font-family: 'Special Elite', cursive;
}

.users-cart em,
.users-orders em {
  font-family: 'Tangerine', cursive;
  padding-right: 0.4em;
  margin-left: -0.4em;
}

.users-cart__flex-container,
.users-orders__flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.users-cart ul,
.users-orders ul {
  border-top: 1px dotted black;
}

.users-cart li,
.users-orders li {
  padding: 0.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.users-cart img,
.users-orders img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}
/*# sourceMappingURL=style.css.map */