// font-family: 'Grandstander', cursive;
// font-family: 'Permanent Marker', cursive;
// font-family: 'Special Elite', cursive;
// font-family: 'Tangerine', cursive;
// font-family: 'Merriweather', serif;

:root {
    --color-primary: rgb(105, 0, 128);
    --color-secondary: #0df2c9;
    --color-background: #b1f1ea;
    --color-pageTitle: #3900bd;
    --color-imgBackground: lemonchiffon;
}

body {
    background-color: var(--color-background);
}

.btn {
    font-family: 'Special Elite', cursive;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 700 1.2rem 'Roboto Slab', sans-serif;
    padding-top: 0.4em;
    padding-bottom: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
    letter-spacing: 0.05rem;

    &:focus {
        outline: 2px dotted #55d7dc;
    }
}

label {
    font-family: 'Grandstander', cursive;
}

input {
    font-family: 'Grandstander', cursive;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    color: var(--color-primary);
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    padding-top: 10px;
}

h2 {
    color: var(--color-pageTitle);
    text-align: center;
    font-family: 'Merriweather', serif;
    padding-top: 15px;
}

nav li {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 40vh;
    width: 100vw;
    // background: url('https://i.imgur.com/F2qaV0d.png') center no-repeat;

    a {
        padding: 0em 3em 0em 3em;
        font-size: 4em;
        color: rgb(233, 198, 0);
        font-family: 'Permanent Marker', cursive;
        text-decoration: none;
    }
}

.users-create,
.users-login {
    width: 100vw;
    height: 80vh;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;

    h2 {
        margin-bottom: 10px;
    }

    &__flex-container {
        display: flex;
        justify-content: center;
        align-items: normal;
    }

    li {
        padding: 0.8em;
    }

    .user-create__admin-list {
        display: flex;
        justify-content: center;
        flex-direction: row;
        overflow: visible;
        padding-bottom: 30px;

        input {
            text-align: center;
            margin-top: 10px;
        }
    }

    input {
        border: none;
        border-radius: 3px;
    }
}

#login-button {
    margin-top: 50px;
}

#admin-aside {
    font-family: 'Tangerine', cursive;
    font-size: 1.2em;
}

#add-new,
#return-all {
    text-align: center;
    padding-bottom: 15px;
    text-decoration: none;
    font-size: 1.6em;
    font-family: 'Tangerine', cursive;
    color: black;
    :hover {
        background-color: lemonchiffon;
        border-radius: 5px;
    }

    :visited {
        color: red;
    }

    :active {
        color: green;
    }

    a {
        padding: 4px;
    }
}

.product-index {
    width: 100vw;
    height: 80vh;
    position: relative;

    h2 {
        margin-bottom: 10px;
    }

    &__closed-container {
        background-image: url('https://s3.eu-west-1.amazonaws.com/presspage-production-content/uploads/2170/sorry_we_re_closed.jpg');
        width: 40%;
        height: 60%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__flex-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 1em;
    }

    &__item-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: var(--color-imgBackground);
        border-radius: 1em;
    }

    img {
        width: 200px;
        height: 200px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.product-show {
    width: 100vw;
    height: 80vh;
    text-align: center;

    h2 {
        margin-bottom: 10px;
    }

    &__flex-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
    }

    &__item-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: var(--color-imgBackground);
        border-radius: 1em;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    img {
        width: 300px;
        height: 300px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.product-edit,
.product-new {
    width: 100vw;
    height: 80vh;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;

    h2 {
        margin-bottom: 10px;
    }

    &__flex-container {
        display: flex;
        justify-content: center;
        align-items: normal;
    }

    li {
        padding: 1em;
    }

    input {
        border: none;
    }
}
