<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs') %>

        <title>Create User</title>
    </head>
    <body>
        <header class="users-new__header">
            <%- include('../partials/header.ejs') %>
        </header>
        <main>
            <h2>Sign up Below!</h2>

            <form action="/users/create" method="POST">
                <label for="username">Username:</label>
                <input
                    type="text"
                    name="username"
                    id="username"
                    placeholder="username"
                /><br />
                <label for="username">Password:</label>
                <input
                    type="password"
                    name="password"
                    id="password"
                    placeholder="password"
                /><br />
                <label for="admin"
                    >check this box to enable product editing permissions</label
                >
                <input
                    type="checkbox"
                    name="admin"
                    id="admin"
                    onclick="clickHandler('<%= true %>')"
                /><br />
                <label
                    for="admin_code"
                    id="admin_code_label"
                    style="display: none"
                    >SEIR cohort name</label
                >
                <input
                    type="password"
                    name="admin_code"
                    id="admin_code"
                    placeholder="admin code"
                    style="display: none"
                />
                <script>
                    var lastToggle = false;
                    function clickHandler() {
                        lastToggle = !lastToggle;
                        if (lastToggle) {
                            document.getElementById(
                                'admin_code'
                            ).style.display = 'block';
                            document.getElementById(
                                'admin_code_label'
                            ).style.display = 'block';
                        } else {
                            document.getElementById(
                                'admin_code'
                            ).style.display = 'none';
                            document.getElementById(
                                'admin_code_label'
                            ).style.display = 'none';
                        }
                    }
                </script>
                <input type="submit" value="create account" />
            </form>
        </main>
    </body>
</html>
