<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs') %>

        <title>Create User</title>
    </head>
    <body>
        <header class="users-new__header">
            <%- include('../partials/header.ejs') %>
        </header>
        <main>
            <h2>Login Below!</h2>

            <form action="/users/login" method="POST">
                Username:
                <input
                    type="text"
                    name="username"
                    placeholder="username"
                /><br />
                Password:
                <input
                    type="password"
                    name="password"
                    placeholder="password"
                /><br />
                <input type="submit" value="login" />
            </form>
        </main>
    </body>
</html>
