<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs') %>
        <title>Cart</title>
    </head>
    <body>
        <header><%- include('../partials/header.ejs') %></header>
        <main class="users-cart">
            <h2>Review All Orders</h2>
        </main>
    </body>
</html>
