<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs') %>
        <title>New Product</title>
    </head>
    <body>
        <header class="new__header">
            <%- include('../partials/header.ejs') %>
        </header>
        <main>
            <h2>Create new Product</h2>
            <nav>
                <ul>
                    <li>
                        <a href="../users/logout">Logout</a>
                    </li>
                </ul>
            </nav>
        </main>
    </body>
</html>
