<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs') %>
        <title>New Product</title>
    </head>
    <body>
        <%- include('../partials/nav.ejs') %>
        <header class="product__header">
            <%- include('../partials/header.ejs') %>
        </header>
        <main class="product-new">
            <h2>Create New Product</h2>
            <form action="/products" method="POST" autocomplete="off">
                <div class="product-new__flex-container">
                    <ul>
                        <li>
                            <label for="name">Item name:</label>
                            <input
                                type="text"
                                name="name"
                                id="name"
                                placeholder="Thingamajig"
                            />
                        </li>
                        <li>
                            <label for="img">Image URL:</label>
                            <input
                                type="text"
                                name="img"
                                id="img"
                                placeholder="stock mystery icon"
                            />
                        </li>
                        <li>
                            <label for="description">Description:</label>
                            <input
                                type="text"
                                name="description"
                                id="description"
                                placeholder="indescribable"
                            />
                        </li>
                        <li>
                            <label for="price">Price ($USD):</label>
                            <input
                                type="number"
                                id="price"
                                name="price"
                                step=".01"
                                placeholder="0.01"
                            />
                        </li>
                        <li>
                            <label for="qty">Units in stock:</label>
                            <input
                                type="number"
                                id="qty"
                                name="qty"
                                min="0"
                                step="1"
                                placeholder="0"
                            />
                        </li>
                    </ul>
                </div>
                <button id="edit" class="btn" type="submit">CREATE ITEM</button>
            </form>
        </main>
    </body>
</html>
