<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs') %>
        <title>New Product</title>
    </head>
    <body>
        <header class="new__header">
            <%- include('../partials/header.ejs') %>
        </header>
        <main>
            <h2>Create New Product</h2>
        </main>
        <%- include('../partials/nav.ejs') %>
    </body>
</html>
